.banner {
  background: var(--azul-degrade);
  color: var(--cor-de-fundo-secundaria);
  text-align: center;
  padding: 2em;
}

.banner__titulo {
  font-size: 18px;
  font-weight: 700;
}

.banner__descricao {
  font-weight: 500;
  margin: 1em 0;
}

.banner__pesquisa {
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  padding: 1em 1.5em;
  width: 89%;
  background-color: transparent;
  color: var(--cor-de-fundo-secundaria);
}

.banner__pesquisa::placeholder {
  text-align: center;
  color: var(--cor-de-fundo-secundaria);
  background: url("../img/icon-pesquisa.svg") no-repeat;
  margin-left: 1.5em;
  font-family: var(--font-principal);
  font-size: 14px;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .banner {
    padding: 5em;
  }

  .banner__titulo {
    font-size: 38px;
  }

  .banner__descricao {
    margin-bottom: 1.5em;
  }

  .banner__pesquisa {
    width: 46%;
  }

  .banner__pesquisa::placeholder {
    background-position: 2em;
  }
}
