.footer {
  padding: 1.5em;
  background-color: #F9F9F9;
  border-top: 1px solid var(--preto);
}

.grupo {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-around;
  }

  .footer__texto {
    font-size: 24px;
  }

  .grupo {
    display: flex;
    gap: 4em;
    justify-content: start;
  }

  .grupo__titulo {
    margin-bottom: 1.5em;
    font-size: 14px;
    color: #858585;
  }

  .grupo__item {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .grupo__item a {
    text-decoration: none;
    font-size: 14px;
    color: #474646;
  }
}

@media screen and (min-width: 1368px) {
  .grupo {
    gap: 11em;
  }

  .grupo__lista {
    border-left: 1px solid #858585;
    padding-left: 1.5em;
  }
}
