.header__menu {
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  background-color: var(--cor-de-fundo-secundaria);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container__image {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container__button:checked ~ .lista-menu {
  display: block;
}

.container__button:checked ~ .header__label > .header__menu {
  background-image: url("../img/Frame20.svg");
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 16px 24px;
  background-color: var(--cor-de-fundo-secundaria);
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  text-decoration: none;
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__titulo {
  display: none;
}
.opcoes {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header__menu {
    display: none;
  }
  .container {
    margin: auto;
  }

  .container__tablete{
    gap: 3em;
  }

  .container__titulo {
    display: block;
    font-family: var(--font-secundaria);
    font-size: 30px;
  }

  .container__titulo {
    font-weight: 400;
  }

  .container__titulo--negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
  }

  .opcoes__item {
    padding: 0.625em 2em 0.625em 0.625em;
    text-transform: uppercase;
  }

  .opcoes__categoria {
    position: relative;
  }

  .opcoes__link {
    text-decoration: none;
    color: #000000;
  }

  .container__imagem-transparente{
    display: none;
  }

  .opcoes__sub__lista {
    display: none;
  }

  .opcoes__sub__lista {
    position: absolute;
    top: 80%;
  }

  .opcoes__botao:checked ~ .opcoes__label > .opcoes__categoria {
    background: var(--azul-degrade);
    color: var(--cor-de-fundo-secundaria);
    padding: 0.625em;
  }

  .opcoes__botao:checked ~ .opcoes__sub__lista {
    display: block;
  }

  .opcoes__sub__lista {
    background-color: var(--cor-de-fundo-secundaria);
    z-index: 2;
  }

  .opcoes__sub__item {
    padding: 1.5em 1.5em 1em 1.5em;
  }

  .sub__item__link {
    text-decoration: none;
    color: var(--azul-escuro);
  }

  .opcoes__sub__item:hover {
    background: var(--azul-degrade);
  }

  .opcoes__sub__item:hover > .sub__item__link {
    color: var(--cor-de-fundo-secundaria);
  }
}
