.visitados {
  background: var(--azul-degrade);
  color: var(--cor-de-fundo-secundaria);
  padding: 1.5em 0;
}

.visitados__titulo {
  text-align: center;
  margin-bottom: 2em;
  font-weight: 300;
}

.visitados__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.visitados__item {
  padding: 1em 1.5em;
  background-color: var(--laranja);
  font-weight: 700;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .visitados__titulo {
    font-size: 24px;
  }

  .visitados__lista {
    gap: 1.5em
  }

  .visitados__item {
    font-size: 24px;
    padding: 1.5em 2em;
  }
}

@media screen and (min-width: 1368px) {
  .visitados {
    padding: 4em 12em;
  }

  .visitados__lista{
    column-gap: 1.5em;
  }
}
